/MobileSource_new
/MobileSource/.buckconfig
/MobileSource/.editorconfig
/MobileSource/.eslintrc.js
/MobileSource/.flowconfig
/MobileSource/.gitattributes
/MobileSource/.gitignore
/MobileSource/.gitmodules
/MobileSource/.ios.env.example
/MobileSource/.iyarc
/MobileSource/.js.env.example
/MobileSource/.nvmrc
/MobileSource/.prettierignore
/MobileSource/.prettierrc.js
/MobileSource/.watchmanconfig
/MobileSource/.yarnrc
/MobileSource/app.json
/MobileSource/architecture.svg
/MobileSource/attribution.txt
/MobileSource/babel.config.js
/MobileSource/bitrise.yml
/MobileSource/branch.json
/MobileSource/CHANGELOG.md
/MobileSource/crowdin.yml
/MobileSource/index.js
/MobileSource/jest.config.js
/MobileSource/jest.preprocessor.js
/MobileSource/LICENSE
/MobileSource/logo.png
/MobileSource/metro.config.js
/MobileSource/package.json
/MobileSource/react-native.config.js
/MobileSource/README.md
/MobileSource/RELEASE.MD
/MobileSource/sentry.debug.properties.example
/MobileSource/sentry.properties
/MobileSource/sentry.release.properties.example
/MobileSource/shim.js
/MobileSource/tsconfig.json
/MobileSource/yarn.lock
/MobileSource/.github
/MobileSource/android
/MobileSource/app
/MobileSource/e2e
/MobileSource/ios
/MobileSource/locales
/MobileSource/patches
/MobileSource/scripts
/MobileSource/sourcemaps
/MobileSource/storybook
/MobileSource/.android.env.example
/Igloo_Review.pdf
/Swapsicle_dApp_AuditReport_1.pdf
Backend
/FrontendForMoralis/node_modules
