.collectibles-tab {
  &__link {
    padding: 10px;
    a {
      font-size: 0.875rem !important;
      display: flex !important;
      color: white !important;
      border-radius: 5px !important;
      background-color: #1d2231 !important;
      padding: 15px 20px !important;
      width: 42% !important;
    }
  }

  &__loading {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
}
